* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  line-height: 1.5;
  color: #333;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.best-seller {
  padding: 30px 0;
}

.best-seller h2 {
  text-align: center;
  font-size: 4.5rem;
  font-family: "Playfair Display", serif;
}

.best-seller .products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.best-seller .products .product-item {
  max-width: calc(100% / 4 - 15px);
  position: relative;
}
.best-seller .products .images {
  height: 365px;
  overflow: hidden;
}

.best-seller .products .images img + img {
  display: none;
}

.best-seller .products .product-item .actions {
  display: none;
  max-width: 60%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.best-seller .products .product-item:hover .actions {
  display: block;
}

.best-seller .products .product-item:hover .images img {
  display: none;
}

.best-seller .products .product-item:hover .images img + img {
  display: block;
}

.best-seller .products .product-item .actions .btn {
  display: block;
  padding: 10px 15px;
  background: #253993;
  color: #fff;
  text-align: center;
}

.best-seller .products .product-item .actions .btn:hover {
  background: #c6eeff;
  color: #253993;
}

.best-seller .products .product-item .actions div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.best-seller .products .product-item .rating {
  text-align: center;
  color: gray;
  font-size: 1.1rem;
}

.best-seller .products .product-item .rating .star {
  color: #fec001;
}

.best-seller .products .product-item .meta {
  text-align: center;
}

.best-seller .products .product-item h3 {
  margin: 15px 0;
  font-size: 1.4rem;
}

.best-seller .products .product-item h3 a {
  color: #646464;
}

.best-seller .products .product-item p {
  font-weight: 700;
  color: #121212;
  font-size: 1.4rem;
}
